<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" sendTimeout="00:05:00" />
                <binding name="BasicHttpBinding_IService1" sendTimeout="00:05:00"/>
                <binding name="BasicHttpBinding_IService2" sendTimeout="00:05:00"/>
                <binding name="BasicHttpBinding_IService3" sendTimeout="00:05:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65266/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="WCFSlocal1.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://at2lb-66160624.us-east-1.elb.amazonaws.com/nanoAT2/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="AWSnanoAT2.IService" name="BasicHttpBinding_IService1" />
            <endpoint address="http://at2lb-66160624.us-east-1.elb.amazonaws.com/microAT2/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2"
                contract="AWSmicroAT2.IService" name="BasicHttpBinding_IService2" />
            <endpoint address="http://at2lb-66160624.us-east-1.elb.amazonaws.com/smallAT2/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3"
                contract="AWSsmallAT2.IService" name="BasicHttpBinding_IService3" />
        </client>
    </system.serviceModel>
</configuration>